.c79-statements {
	.govuk-summary-list__actions,
	.govuk-summary-list__value {
		width: 100%;
	}

	@media (min-width: 641px) {
		.govuk-summary-list__actions {
			width: 70%
		}

		.govuk-summary-list__value {
			width: 30%;
		}
	}

	.download-link,
	.missing-file {
		display: block;
		margin-top: 15px;

		@media (min-width: 641px) {
			display: inline-block;
			margin-top: 0;
			margin-left: 30px;
		}
	}

}

.pVat-statements {
	.govuk-summary-list__actions,
	.govuk-summary-list__value {
		width: 100%;
	}

	@media (min-width: 641px) {
		.govuk-summary-list__actions {
			width: 70%
		}

		.govuk-summary-list__value {
			width: 100%;
		}
	}
}
